/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font--: "Inter", sans-serif;
    --secondary-font--: "Macondo", cursive;
    --primary-color--: #3a2620; /* dark brown */
    --secondary-color--: #aa9581; /* light brown */
    --highlight-color--: #416a8e; /* blue */
    --highlight-color-light--: #7a9fc2; /* light blue */
}

body {
    font-family: var(--primary-font--);
    padding-top: 57.15px;
}

h1, h2, h3 {
    font-family: var(--secondary-font--);
    color: var(--primary-color--);
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.section
{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color--);
}

/* Buttons */
.custom-button-fill {
    border: 2px solid var(--highlight-color--);
    background-color: var(--highlight-color--);
    color: white;
    width: 9rem;
}

.custom-button-fill:hover {
    border: 2px solid var(--secondary-color--);
    background-color: var(--secondary-color--);
    color: white;
    width: 9rem;
}

.custom-button-outline {
    border: 2px solid var(--highlight-color--);
    background-color: transparent;
    color: var(--highlight-color--);
    padding: 7px 25px;
    width: 9rem;
}

.custom-button-outline:hover {
    border: 2px solid var(--highlight-color--);
    background-color: var(--highlight-color--);
    color: white;
    padding: 7px 25px;
    width: 9rem;
}

/* Navbar */
#navbar {
    background-color: var(--primary-color--);
}

#navbar .logo {
    width: 30px;
}

/* Header */
#header .lead {
    font-family: var(--secondary-font--);
}

/* Services */

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color--);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* New Games */
#new-games .card-footer {
    color: var(--primary-font--);
    background-color: transparent;
    border-top: none;
}

#new-games .card {
    margin-bottom: 1.5rem;
    border: none;
}

/* Favourite Games */
#favourite-games .card-footer {
    color: var(--primary-font--);
    background-color: transparent;
    border-top: none;
}

#favourite-games .card {
    margin-bottom: 1.5rem;
    border: none;
}

/* Reserve a Game Form */
#reserve-game #select-game {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#reserve-game #select-game:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

/* Events */
#events table * {
    font-size: 0.8rem;
}

#events #student-discount * {
    font-weight: bold;
    color: white;
    background-color: var(--highlight-color--);
    align-content: center;
}

#student-discount p {
    min-height: 35px;
}

/* Footer */
#contact {
    background-color: var(--primary-color--);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light--);
}

#contact i {
    color: var(--secondary-color--);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light--);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color--);
}

#contact .table-dark * {
    background-color: transparent;
}

/*
.container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
*/

/* Media queries */

/* Medium devices (tablets 768px and up) */
@media screen and (min-width: 768px) {
    /* Make all service cards the same height */
    #services .card-body {
        min-height: 191px;
    }

    #favourite-games .card-body {
        min-height: 215px;
    }

    #events .student-discount {
        justify-content: end;
    }
}

/* Large devices (desktops 992px and up) */
@media screen and (min-width: 992px) {
    /* Make all service cards the same height */
    #services .card-body {
        min-height: auto;
    }

    #favourite-games .card-body {
        min-height: auto;
    }
}

/* Extra Large devices (desktops 1200px and up) */
@media screen and (min-width: 1200px) {
    /* Make all service cards the same height */
    #services .card-body {
        min-height: 218px;
    }

    #favourite-games .card-body {
        min-height: 242px;
    }
}

/* Extra Extra Large devices (desktops 1400px and up) */
@media screen and (min-width: 1400px) {
    /* Make all service cards the same height */
    #services .card-body {
        min-height: 194;
    }

    #favourite-games .card-body {
        min-height: 220px;
    }
}